.App {
  text-align: center;
  /* animation: transitionWebIn 0.5s; */
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


.main-content{
    animation: transitionWebIn 0.5s;
}

.main-content .content-banner{
  /* position: fixed; */
  top: 100%;
}
/* .main-content .content-about{
  position: absolute;
} */

@keyframes transitionWebIn{
  from{
    opacity: 0;
    transform: rotateX(-20deg);
  }to{
    opacity: 1;
    transform: rotateX(0deg);
  }
}