.banner{
    padding-top: 100px;
    margin-top: -100px;
    min-height: 89vh;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    background-color: #cccccc;
    /* animation: transitionWebIn 1s;
    animation-timing-function: ease-in; */
}

.banner-sosmed{
    width: 50%;
    display: block;
    margin-left: auto;
    /* animation: transitionWebIn 1s; */
}
.banner-sosmed .sosmed{
    width: 75%;
    /* display: block; */
    /* margin-left: auto;
    margin-right: auto; */
    display:flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.banner-sosmed .sosmed-icon{
    color: #ffffff;
    border: 1px solid #bd1818;
    border-radius: 50%;
    background-color:#bd1818;
    width: 20px;
    height: auto;
    padding: 5px;
    margin: 0px 7px 20px;
}
.banner-sosmed .dot{
    padding: 5px;
    margin: 1.5px 0px 1.5px 21px;
    background-color: #bd1818;
    border-radius: 50%;
    display: inline-block;
    opacity: 1;
    animation: transitionCirlceSosmed 2s;
}
.banner-sosmed hr{
    border-bottom: 1px solid #bd1818;
    width: 96%;
    animation: transitionUnderlineSosmed 1s;
}
.banner-content{
    width: 100%;
    display: flex;
    flex-direction: row;
}
.banner-content .banner-content-image{
    width: 100%;
}
.banner-content .banner-content-image .bg-banner{
    padding-top: 2em;
    width: 75%;
    height: auto;
    margin-bottom: -400px;
    z-index: 1;
}
.banner-content .banner-content-image .img-banner{
    position: absolute;
    width: 30%;
    height: auto;
    z-index: 3;
    margin-top: 5%;
    margin-left: -36em;
}
.banner-content .banner-content-image h2{
    position: absolute;
    color: #cccccc;
    text-transform: uppercase;
    right: 25%;
    top: 35%;
    z-index: 4;
    text-align: center;
}
.banner-title{
    width:75%;
    padding: 0px 50px 0px 100px;
    text-transform: uppercase;
    display:flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: flex-start;
}
.banner-title .title{
    font-size: 28px;
    padding:  10px 15px;
    color: #666666;
    background-color: rgba(255, 255, 255, 0.3)
}
.banner-title .subtitle{
    margin-top: 0px;
    margin-bottom: 10px;
    font-size: 75px;
    font-weight: 900;
    color: #666666;
}
.banner-title .line{
    width: 40%;
    border: 5px solid #bd1818;
    margin-left: 0;
    margin-bottom: 100px;
    animation: transitionUnderline 1s;
    /* animation-delay: 2s; */
}
.banner-image{
    width: 100%;
    height : 200px;
    background-color: #222222;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    padding: 50px 25px;
    z-index: 2;
}
.banner-image .subtitle{
    color: #999999;
    font-weight: bold;
    text-transform: uppercase;
    writing-mode: vertical-lr;
    transform: rotate(180deg)
}
.banner-image .image-arrow{
        padding-left: 5em;
        width: auto;
        max-height: 250px;
}
/* .banner-image .image-banner{
        padding-left: 5em;
        width: auto;
        max-height: 100%;
} */
.banner-footer{
    color: #cccccc;
    text-align: right;
    height:20px;
    background-color: #666666;
    padding: 10px;
    z-index:2;
}
.banner-footer-2{
    color: #cccccc;
    text-align: right;
    height:50px;
    background-color: #222222;
    padding: 10px;
    z-index:2;
}
.right{
    float: right;
}
.left{
    float: left;
}



/* @keyframes transitionWebIn{
    from{
      /* opacity: 0; 
      top: 50%;
    }to{
      /* opacity: 1; 
      top: 0;
    }
} */
@keyframes transitionUnderline{
    from{
        
        width: 0%;
    }to{
        width: 40%
    }
}
@keyframes transitionUnderlineSosmed{
    from{
        width: 0%;
    }to{
        width: 96%
    }
}
@keyframes transitionCirlceSosmed{
    0%{
        opacity: 0
    }
    50%{
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
}
  